.home {
  width: 100%;
  height: 100dvh;

  position: relative;

  background-image: url(../../assets/anime-home.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.178);

  display: flex;
  justify-content: center;
  align-items: center;
}
.home_background {
  width: 100%;
  height: 100dvh;
  background: black;
  opacity: 0.6;
  position: absolute;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  color: beige;
  z-index: 90;
}

.home_content h1 {
  width: 80%;

  text-align: center;
  font-size: 3.5rem;
}
