header {
  position: fixed;
  z-index: 100;

  width: 100%;

  background: none;
}

.navbar {
  height: 100%;
  padding: 1.5rem 8%;

  color: var(--color-blanco);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_buttons {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navbar-login {
  background-color: var(--color-naranja);
}

.navbar-inicio {
  background-color: var(--navbar-inicio);
}

.navbar-inicio nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar_user {
  max-width: 120px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar_logo {
  width: 120px;
}

.user_container {
  padding: 0.2rem 0.5rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  font-size: 1.4rem;
}
