.banner {
  width: 100%;
  height: 600px;
  background-image: url(../../assets/kimetsu-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-blanco);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner_background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.938);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.banner h2 {
  font-family: var(--font-banner-title);
  font-size: 3.5rem;
}

.banner span {
  font-size: 1.2rem;
  font-weight: 600;
}

.banner_content {
  /* outline: 1px solid red; */
  width: 45%;
  min-width: 400px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;

  z-index: 50;
}
